.categoria-modal{
	input, textarea{
		border: none;
		margin: 10px 0;
		box-shadow: none;
		background: #f9f9fb;
		text-align: center;
		font-size: 23px;
		border-bottom: 1px solid rgba(128, 128, 128, 0.43);
		padding: 22px 0;
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: rgba(117, 117, 117, 0.31);
	font-size: 23px;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgba(117, 117, 117, 0.31);
	font-size: 23px;
	opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgba(117, 117, 117, 0.31);
	font-size: 23px;
	opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgba(117, 117, 117, 0.31);
	font-size: 23px;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
	color: rgba(117, 117, 117, 0.31);
	font-size: 23px;
	}
}

.categoria-page{
	.row{
		div{
			div{
				background: white;
				box-shadow: 0px 1px 3px grey;
				border-radius: 10px;
				div{
					min-height: 450px;
					background-size: cover !important;
					box-shadow: none;
					border-radius: 10px 10px 0 0;
				}
			}
		}
		h2{
			margin-left: 20px;
		}
		p{
			padding-bottom: 27px;
			margin-left: 21px;
		}
	}
}